.project_tltle {
  margin: 0;
  font-size: 22px;
  font-weight: bold;
}

.project_sub_title {
  font-size: 12px;
  font-weight: bold;
}

.project_cont {
  margin-top: 10px;
  margin-left: 10px;
  font-size: 14px;
}

.project_sub_cont {
  margin-top: 10px;
  margin-left: 25px;
  font-size: 14px;  
}

.project_sub_cont_detail {
  margin-top: 5px;
  margin-left: 50px;
  font-size: 13px;
  font-weight: normal;
}
